@model IEnumerable<ContractMonthlyClaimSystem.Models.Claim>

<h2>Claims</h2>


<table class="table">
    <thead>
        <tr>
            <th>Lecturer Name</th>
            <th>Module</th>
            <th>Hours</th>
            <th>Rate</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.LecturerName</td>
                <td>@claim.Module</td>
                <td>@claim.HoursWorked</td>
                <td>@claim.HourlyRate</td>
                <td>@claim.Status</td>
                <td><a asp-action="Details" asp-route-id="@claim.Id">View</a></td>
            </tr>
        }
    </tbody>

</table>
